.div_wrap {
    width: 100%;
    position: relative;
}

.about__form-input_select {
    position: absolute;
    width: 278px;
    max-height: 60px;
    display: block;
}

.label {
    width: 100%;
    height: 60px;
    padding: 20px;
    text-align: left;
    position: absolute;
    pointer-events: none;
    color: var(--third-color);
    font-size: 0.875rem;
    top: 0;
}

.about__form-input_select:valid + .label {
   display: none;
  }