@use 'fonts';
@use 'reset';
@use 'sass:math';
@use 'variables';
@use '_placeholder';
@use '_header';
@use '_intro';
@use '_about';
@use '_specialties';
@use '_contact';
@use '_footer';


html, body {
    height: 100%;
}

body {
font-family: 'Open Sans', sans-serif;
font-size: 2rem;
font-weight: 400;
}

body.lock {
    overflow: hidden;
}

.container {
    width: math.div(1155px, 1440px) * 100%;
}

.subtitle {
font-weight: 700;
letter-spacing: 0.5em;
text-transform: uppercase;
font-size: 0.75rem;
line-height: 0.875rem;
}

.text {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-align: center;

    b {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

.block__title {
    font-family: 'Acme', sans-serif;
    line-height: 3.25rem;
    font-size: 2.25rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
    position: relative;
    width: 100%;
}

.block__title_black {
color: var(--second-color);
}

.block__title_white {
        color: var(--first-color);
}

.line {
    position: relative;
}

.line::after {
    content: '';
  position: absolute;
  bottom: -5.11px;
  left: 45.5%;
  width: 60px;
  height: 5.11px;
  background-color: var(--main-color);
  display: block;  
  border-radius: 50px;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    
    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    
    }
    
    
}

