:root {
    --main-color: #E8C300;
    --submain-color: #ffd503;
    --first-color: #fff;
    --second-color: #000;
    --third-color: rgba(51, 51, 51, 0.5);
    --fourth-color: #E5E5E5;
    --fifth-color: rgba(0, 0, 0, 0.9);
    --sixth-color: rgba(255, 255, 255, 0.5);
    --seventh-color: #000;
    --first-media: max-width, 768px;
}
